@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 258 31% 100%;
    --foreground: 258 58% 2%;
    --muted: 258 19% 94%;
    --muted-foreground: 258 4% 29%;
    --popover: 258 31% 100%;
    --popover-foreground: 258 58% 2%;
    --card: 258 31% 100%;
    --card-foreground: 258 58% 2%;
    --border: 258 5% 92%;
    --input: 258 5% 92%;
    --primary: 258 92% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 258 20% 90%;
    --secondary-foreground: 258 20% 30%;
    --accent: 258 20% 90%;
    --accent-foreground: 258 20% 30%;
    --destructive: 16 84% 34%;
    --destructive-foreground: 0 0% 100%;
    --ring: 258 92% 48%;
    --chart-1: 258 92% 48%;
    --chart-2: 258 20% 90%;
    --chart-3: 258 20% 90%;
    --chart-4: 258 20% 93%;
    --chart-5: 258 95% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 258 49% 0%;
    --foreground: 258 22% 97%;
    --muted: 258 19% 6%;
    --muted-foreground: 258 4% 71%;
    --popover: 258 49% 0%;
    --popover-foreground: 258 22% 97%;
    --card: 258 49% 0%;
    --card-foreground: 258 22% 97%;
    --border: 258 5% 12%;
    --input: 258 5% 12%;
    --primary: 258 92% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 258 2% 16%;
    --secondary-foreground: 258 2% 76%;
    --accent: 258 2% 16%;
    --accent-foreground: 258 2% 76%;
    --destructive: 16 84% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 258 92% 48%;
    --chart-1: 258 92% 48%;
    --chart-2: 258 2% 16%;
    --chart-3: 258 2% 16%;
    --chart-4: 258 2% 19%;
    --chart-5: 258 95% 48%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
